<!DOCTYPE html>
<html lang="en" >
  <head>
    {% block 'head' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <title>Kak Pewe</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
      h1, h2, h3, h4, h5, p, li {
        font-family: "Montserrat", sans-serif;
        color: white;
      }
      
      header {
        padding-top: 20vh;
        height: 100vh;
        background-image: url("http://www.portoalegre.travel/upload/b/76/761628_orange-grey-wallpaper.jpg");
      }
      
      .header-profile {
        max-width: 60%;
        background: rgba(215, 97, 1, 0.32);
      }
      
      .header-profile div {
        min-width: 264px;
      }
      
      .profile {
        height: 264px;
        width: 264px;
        border-radius: 50%;
      }
      
      main {
        background: linear-gradient(180deg, #251B1C 0%, #9F4C00 100%);
      }
      
      .hidden {
        display: hidden;
      }
      
      main section {
        margin-top: 40px;
      }
      
      .article {
        padding-bottom: 60px;
      }
      
      .article h3 {
        margin-bottom: 40px;
      }
      
      .article img {
        margin-left: auto;
        margin-right: auto;
        width: 256px;
      }
      
      .article.justify-content-center {
        text-align:center;
      }
      
      footer {
        background: #271D1E;
      }
      
      .footer-item {
        margin: 0 20px;
      }
      
      .footer-item p{
        margin: 0;
      }
      
      footer img {
        height: 20px;
      }
    </style>
    {% endblock 'head' %}
  </head>
  <body class="font-family-base">
    {% block 'body' %}
    <header>
      <div class="header-profile container">
        <div class="row">
          <div class="col-lg-4 d-flex justify-content-center">
            <img class="profile" src="https://files.catbox.moe/07a0a8.jpg" />
          </div>
          <div class="col-lg-8 align-self-center">
            <h4 class="text-center">Aspiring Web Design and Development teaching assistant, Proud son of Mrs. Bunda Kak Pewe.</h4>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </header>
    <main>
      <ul class="nav navbar-dark justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'extras' %}">Extras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schedules' %}">Schedules</a>
        </li>
      </ul>
      {% block 'page' %}
      {% endblock 'page' %}
    </main>
    <footer class="d-flex flex-row justify-content-center">
      <div class="footer-item d-flex flex-row">
        <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" />
        <p>@ichlafterlalu</p>
      </div>
      <div class="footer-item d-flex flex-row">
        <img src="https://www.freeiconspng.com/uploads/linkedin-icon-19.png" />
        <p>ichlasul-affan</p>
      </div>
    </footer>
    {% endblock 'body' %}
    {% block 'scripts' %}
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    {% endblock 'scripts' %}
  </body>
</html>
 
