{% extends 'base.html' %}

{% block 'page' %}
      <div id="page1">
        <section>
          <div class="article justify-content-center">
            <h3>Me before being a weaboo</h3>
            <img src="https://files.catbox.moe/6slv1u.png" />
          </div>
          <div class="article justify-content-center">
            <h3>My favorite Cat, lolcat</h3>
            <img src="https://files.catbox.moe/utmysv.jpg" />
          </div>
          <div class="article justify-content-center">
            <h3>Lolcat in action</h3>
            <a href="https://asciinema.org/a/175336" target="_blank"><img src="https://asciinema.org/a/175336.png" /></a>
          </div>
        </section>
      </div>
{% endblock 'page' %}
