{% extends 'base.html' %}

{% block 'page' %}
      <div id="page0" class="container">
        <div class="row" >
          <section class="col-lg">
            <h3>Experience</h3>
            <ul>
              <li>Current web design and development TA at Faculty of Computer Science University of Indonesia.</li>
              <li>Frontend Web Developer Intern  at Center of Computer Science University of Indonesia.</li>
              <li>Foundation of Programming TA at  at Faculty of Computer Science University of Indonesia.</li>
            </ul>
          </section>
          <section class="col-lg">
            <h4>Education</h4>
            <ul>
              <li>Current web design and development TA at Faculty of Computer Science University of Indonesia.</li>
              <li>Frontend Web Developer Intern  at Center of Computer Science University of Indonesia.</li>
              <li>Foundation of Programming TA at  at Faculty of Computer Science University of Indonesia.</li>
            </ul>
          </section>
        </div>
        <section>
          <h3>Portofolios</h3>
          <div class="row d-flex flex-row-reverse article">
            <h4 class="col-12">Expense Management</h4>
            <div class="col-md-4">
              <img src="https://www.dataapplab.com/wp-content/uploads/2016/10/python-263x263.png" />
            </div>
            <div class="col-md-8">
              <p>A simple program made in Python, to do simple expense management, categorization, and visualization. Refactored from my original Ichlaffterlalu Expense Management program code to ensure better readability.</p>

              <p>#python #utility #finance</p>
            </div>    
          </div>
          <div class="row d-flex flex-row-reverse article">
            <h3 class="col-12">Susun Jadwal Android </h3>
            <div class="col-md-4">
              <img src="http://pngimg.com/uploads/android_logo/android_logo_PNG3.png" />
            </div>
            <div class="col-md-8">
              <p>Joint project to develop Android App version of RISTEK 2018 Faculty of Computer Science Susun Jadwal Web App.</p>

              <p>#java #android #ristek #jadwal #utility #mobile</p>
            </div>
          </div>
        </section>
      </div>
{% endblock 'page' %}
