{% extends 'base.html' %}

{% block 'page' %}
      <div id="page2">
        <section class="container">
          <form class="text-light">
            <div class="form-group">
              <label for="nameInput">Name</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="dateInput">Date of birth</label>
              <input type="date" class="form-control" id="dateInput" placeholder="Enter Date of birth">
            </div>
            <div class="form-group">
              <label for="emailInput">Email address</label>
              <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="passwdInput">Password</label>
              <input type="password" class="form-control" id="passwdInput" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="passwdInput">Confirm password</label>
              <input type="password" class="form-control" id="passwdInput" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
           </form>
        </section>
      </div>
{% endblock 'page' %}
