{% extends 'base.html' %}

{% block 'page' %}
      <div id="page3">
        <section class="container">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu</th>
                <th scope="col">Tempat</th>
                <th scope="col">Kategori</th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
              <tr>
                <th scope="row">{{ event.pk }}</th>
                <td>{{ event.name }}</td>
                <td>{{ event.date | date:'d N Y' }}</td>
                <td>{{ event.time | time }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.category }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
        <section class="container">
          <form action="{% url 'schedules' %}" method="POST" class="text-light">
            {% csrf_token %}
            <div class="form-group">
              {{ form.name.errors }}
              <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
              <input class="form-control"
                     id="{{ form.name.id_for_label }}"
                     {% if form.name.field.required %}required{% endif %}
                     type="{{ form.name.field.widget.input_type }}"
                     name="{{ form.name.html_name }}"
                     maxlength="{{ form.name.field.max_length }}"
                     placeholder="{{ form.name.help_text }}" />
            </div>
            <div class="form-group">
              {{ form.date.errors }}
              <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
              <input class="form-control"
                     id="{{ form.date.id_for_label }}"
                     {% if form.date.field.required %}required{% endif %}
                     type="{{ form.date.field.widget.input_type }}"
                     name="{{ form.date.html_name }}" />
            </div>
            <div class="form-group">
              {{ form.time.errors }}
              <label for="{{ form.time.id_for_label }}">{{ form.time.label }}</label>
              <input class="form-control"
                     id="{{ form.time.id_for_label }}"
                     {% if form.time.field.required %}required{% endif %}
                     type="{{ form.time.field.widget.input_type }}" 
                     name="{{ form.time.html_name }}" />
            </div>
            <div class="form-group">
              {{ form.location.errors }}
              <label for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
              <input class="form-control"
                     id="{{ form.location.id_for_label }}"
                     {% if form.location.field.required %}required{% endif %}
                     type="{{ form.location.field.widget.input_type }}"
                     name="{{ form.location.html_name }}"
                     maxlength="{{ form.location.field.max_length }}"
                     placeholder="{{ form.location.help_text }}" />
            </div>
            <div class="form-group">
              {{ form.category.errors }}
              <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
              <input class="form-control"
                     id="{{ form.category.id_for_label }}"
                     {% if form.category.field.required %}required{% endif %}
                     type="{{ form.category.field.widget.input_type }}"
                     name="{{ form.category.html_name }}"
                     maxlength="{{ form.category.field.max_length }}"
                     placeholder="{{ form.category.help_text }}" />
            </div>
            <input type="submit" value="Submit" />
          </form>
        </section>
      </div>
{% endblock 'page' %}
